API_SERVER_PORT=
ENCRYPTION_AES_KEY=
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
POSTGRES_DB_URL=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_DEFAULT_SCHEMA=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_URL=